:root {
  --primary-color: #22254b;
  --secundary-color: #d6d7e2;
}

body {
  background-color: white;
  margin-left: 2vw;
  margin-right: 2vw;
}

#container-main{
  background-color: white;
}

/* header ------------*/

header {
  /* display: flex;
  /* justify-content: center; 
  align-items: center; */
  width: 100%;
  height: 88px;
  padding-bottom: 2vw;
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
}
.container-header {
  display: flex;
  align-items: center;
  float: right;
  width: 454px;
  height: 40px;
  background-color: white;
}
.location {
  float: left;
  width: 301px;
  height: 24px;
  color: black;
}
#location-icon {
  width: 24px;
  height: 24px;
  color: #fc462d;
}

.btn {
  color: white;
  width: 89px;
  height: 40px;
  float: right;
  border-radius: 5px;
  background-color: #0ac763;
  box-shadow: black;
}

/* #rapidito{
 position: absolute;
 top: 10px;
 left: 10px;
} */

.line {
  color: black;
  width: 40px;
}

/*- container ------------------- */
/* .container {
   background-color: chartreuse; 
} */

/* Banner------------------------ */
.rectangle {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 1286px;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 3vw;
 
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* container-products -------------- */

.container-products {
  
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 9px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vw;
}

#ofertas {
  margin-top: 3vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} 
.populares {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} 

.card {
  width: 194px;
  height: 394px;
  margin: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.card-title{
  margin-left: 1.5vw;
}

.product {
  width: 194px;
  height: 194px;
  margin-bottom: 2vw;
}

.porcentage{
  color:#5E18BB ;
}
.description {
  width: 194px;
  height: 88px;
}

.btn-agregar {
  color: white;
  width: 194px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 5px;
  background-color: #0ac763;
}

.list-group{
  flex-direction: row;; 
  margin-right: 10px
}

li {
  list-style-type: none;
}